body{
    background-color: #eaf6f6;
}
h1{
    color: #66BFBF;
}
h3{
    color: #66BFBF;
}
hr{
    border-style: none;
    border-color: grey;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
}
.hjb{
    color: rgb(136, 30, 30);
    text-align: center;
    text-decoration: underline;
    background-color: cadetblue;
    margin: 0px;
    padding: 10px;
    font-size:small;

}
.hobby{
    
    color: rgb(136, 30, 30);
    /* background-color: cyan; */
    margin: 0px;
    padding: 5px;
    text-align:center;
    
}